.enlaces{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

header{
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url("https://www.lynzeparla.com/media/k2/items/cache/5cf8d68adfbc926b964baa0e9f5b8056_XL.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 225px;
}
h1{
    font-size: 50px;
    margin-top: 20px;
}
.contenido{
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto p{
    margin-right: 5px;
    margin-left: 5px;
    width:80%;
}
.referencias{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width:800px){
    header{
        height: 150px;
    }

    img{
        width: 50%;
    }
}

@media(min-width:800px){
    .filapar{
        display: flex;
        flex-direction: row-reverse;
    }
    .filaimpar{
        display: flex;
        flex-direction: row;
    }
    .texto{
        width: 50%;
    }
    .imagen{
        width: 40%;
    }
}